<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Good afternoon, <%= @user.username %><p>
    <p>
      Here are your Squidlist events for the week:
    </p>
    <% @forecasts.each do |forecast| %>
      <% if ["3", "4", "5"].include?(forecast.quality) %> 
        <p><b><%= forecast.surf_break.name%></b></p> 
        <p><%= forecast.date.strftime("%B %d, %Y") %></p>
        <p>Quality: <%= forecast.quality %></p>
        <p>Height: <%= forecast.height %> ft.</p> 
      <% end %>   
    <% end %>   
    <% @concerts.each do |concert| %>
      <p><b><%= concert.event %></b></p>
      <p><%= concert.venue %></p>
    <% end %>    

    <p>Enjoy and have a great week!</p>
  </body>
</html>