
<%= form_for(@user_interest) do |f| %>
  <div class="field">
    <%=f.label "Surfing" %> 
    <%=f.check_box :surfing, class: "surf_checkbox" %> <br /> 
  </div>
  <div class="field">
    <%=f.label "Concerts" %>
    <%=f.check_box :concerts, class: "concert_checkbox" %> <br />
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>  
  </div>  
<% end %> 

<% display_surf = @user_interest.surfing? ? "" : "display:none;" %>
<% display_concerts = @user_interest.surfing? ? "" : "display:none;" %>

<div id="show_surf_breaks", style="<%= display_surf %>">
  <%= render partial: 'user_surf_breaks/user_surf_breaks' %>  
</div>

<div id="songkick_box", style="<%= display_concerts %>">
  <p> Enter your songkick id so we can track your favortie concerts <p>
  <p> Create an id at <%= link_to "SongKick", "https://www.songkick.com/home" %> </p>  
</div>
