<h3>What events are you interested in?</h3>

<%= form_for(@user_interest) do |f| %>
  <div class="field">
    <%=f.label "Surfing" %> 
    <%=f.check_box :surfing, class: "surf_checkbox" %> <br />
  </div>
  <div class="field">
    <%=f.label "Concerts" %>
    <%=f.check_box :concerts, class: "concert_checkbox" %> <br />
  </div>  

<% display_surf = @user_interest.surfing? ? "" : "display:none;" %>
<% display_concerts = @user_interest.concerts? ? "" : "display:none;" %>

<div id="show_surf_breaks", style="<%= display_surf %>">
  <% @surf_break_locations.each do |location| %>
    <div id= "region_<%= location.id %>" class="clickable_region">
      <h3><%= location.name %></h3>
    </div>
    <div id= "location_<%= location.id %>", style="display:none;">
      <%= render partial: 'user_surf_breaks/surf_break', collection: location.surf_breaks %>
    </div>
  <% end %> 
</div>

<div id="songkick_box", style="display:none;">
  <p> Enter your songkick id so we can track your favortie concerts <p>
    <%= f.label "Songkick Username" %>
    <%= f.text_field :songkick, autofocus: true %>   
  <p> Never used songkick? Create an id at <%= link_to "SongKick", "https://www.songkick.com/home" %> </p>  
</div>
<div class="actions">
  <%= f.submit "Submit", class: "btn btn-success" %>  
</div>  
<% end %> 






