 <div class="col-lg-4"> 
  <img class="img-circle">
    <% a = concert.artists %>
    <% artist = Artist.find_by_name(a) %>
    <%= image_tag (artist.artistpic) %>
  </img> 
  <p><%= link_to concert.event, concert %></p>
  <P><%= concert.date.strftime("%B %d, %Y") %>
  <p><%= concert.venue %></p>
  <p> Get Tickets </p>
  <% if current_user && current_user.concerts.include?(concert) %>
    <p><%= link_to "Unfollow this concert" %></p>
  <% end %>
</div> 