<div class="container marketing">
  <div class="row"> 
    <% @surf_breaks.each do |surf_break| %>
      <p style="clear:both"><%= surf_break.name %></p>
      <% surf_break.forecasts.each do |f| %>
        <% if ["3", "4", "5"].include?(f.quality) %>
          <div class="col-lg-4"> 
            <img class="img-circle">
              <%= image_tag(f.surf_break.surfpic) %>
            </img>  
            <p><%= link_to f.surf_break.name, f.surf_break %></p>
            <p><%= f.date.strftime("%B %d, %Y") %></p>
            <p>Quality: <%= f.quality %></p>
            <p>Height: <%= f.height %> ft.</p>
            <% if current_user && current_user.surf_breaks.include?(surf_break) %>
              <p><%= link_to "Unfollow this surf break", user_surf_break_path(get_user_surf_break_for(surf_break.id)), method: :delete %></p>
            <% else %>
              <p><%= link_to "Follow this surf break", user_surf_breaks_path(surf_break_id: surf_break.id), method: :post %></p>
            <% end %>
          </div>
        <% end %>  
      <% end %>  
      <% end %>  
  </div>
</div>    