<!DOCTYPE html>
<html>
  <head>
    <title>Squidlist</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="http://localhost:4000/assets/blocmetrics.js"></script>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "SquidList", root_path %><li>
        
          <div class="pull-right user-info">
            <% if current_user %>
              Hello, <%= current_user.username %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %> |  
              <%= link_to "Edit my info", edit_user_registration_path %> |
              <%= link_to "This month", next_path %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> or
              <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
      </ul>

  <%= yield %>

  </body>
</html>
