<!DOCTYPE html>
<html>
  <head>
    <title>Squidlist</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <ul class="nav nav-tabs">
          <li><%= link_to "SquidList", root_path %><li>
          
            <div class="pull-right user-info">
              <% if current_user %>
                Hello, <%= current_user.username %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %> |  
                <%= link_to "Edit my info", edit_user_registration_path %> |
                <% if current_user.user_interest %>
                  <%= link_to "Update my interests", edit_user_interest_path(current_user.user_interest) %> |
                <% else %>
                  <%= link_to "Update my interests", new_user_interest_path %> |
                <% end %>  
                <%= link_to "This month", next_path %>
              <% else %>
                <%= link_to "Sign In", new_user_session_path %> or
                <%= link_to "Sign Up", new_user_registration_path %>
              <% end %>
            </div>
        </ul>

        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert">
            <button type="button" class="close" data-dimiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>   

        <%= yield %>

      <div id="push"></div>
    </div>  

    <div id="footer">
      <div class="container">
        <% if current_user %>
          <%= link_to "My Surf Breaks", user_surf_breaks_path(current_user.user_surf_breaks) %> | <%= link_to "My Concerts", user_concerts_path(current_user.user_concerts) %>
        <% end %>  
      </div>
    </div>     

  </body>
</html>
